@model nmct.ssa.labo.webshop.ViewModels.CreateDeviceVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Device", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row-fluid">
        <div class="span4">
            <div class="card">
                <h2 class="card-heading simple">Algemeen</h2>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Device.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Device.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Device.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Device.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Device.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Device.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Device.BuyPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Device.BuyPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Device.BuyPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Device.RentPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Device.RentPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Device.RentPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Device.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Device.Stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Device.Stock, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" name="btnSend" style="margin-bottom:20px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="span4">
            <div class="card">
                <h2 class="card-heading simple">Software</h2>
                <div class="card-body">
                    <div class="form-group">
                        <p>Operating Systems</p>
                        <div class="col-md-10">
                            @*@Html.DropDownList("operatingsystems", Model.Os, Model.SelectedOsId, new { @class = "form-control", @id = "OS" })*@
                            @Html.DropDownListFor(model => model.SelectedOsId, Model.Os, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="btnAddOS" class="btn btn-default" value="AddOS" name="btnAddOS" />
                        </div>
                    </div>

                    @Html.Hidden("HiddenOS", Model.Device.GetStringOS())
                    <div class="form-group">
                        <div class="col-md-10">
                            @*@Html.ListBox("SelectedOs", Model.SelectedOs, new { @class = "form-control", @id = "SELOS", @Multiple = "multiple" })*@
                            <select name="OperatingSystems" multiple class="form-control" id="OperatingSystems">
                                @foreach (var os in Model.Device.OS)
                                {
                                    <option value="@os.Id">@os.Name</option>
                                }
                            </select>
                        </div>
                    </div>



                    <div class="form-group">
                        <p>Frameworks</p>
                        <div class="col-md-10">
                            @*@Html.DropDownList("operatingsystems", Model.Os, Model.SelectedOsId, new { @class = "form-control", @id = "OS" })*@
                            @Html.DropDownListFor(model => model.SelectedFrameId, Model.FrameWorks, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="btnAddFrame" class="btn btn-default" value="AddFrame" name="btnAddFrame" />
                        </div>
                    </div>

                    @Html.Hidden("HiddenFrame", Model.Device.GetStringFrame())
                    <div class="form-group">
                        <div class="col-md-10">
                            @*@Html.ListBox("SelectedOs", Model.SelectedOs, new { @class = "form-control", @id = "SELOS", @Multiple = "multiple" })*@
                            <select name="Frameworks" multiple class="form-control" id="Framewors" style="margin-bottom:20px">
                                @foreach (var frame in Model.Device.FrameWorks)
                                {
                                    <option value="@frame.Id">@frame.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index", "Catalog")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$(function () {
        //    $("#btnAddOS").click(function () {
        //        var list = $("#SELOS");
        //        var item = "<option value=" + $('#OS').val() + " >" + $('#OS :selected').text() + "</option>";
        //        list.append(item);
        //    });
        //    $("#btnAddFrame").click(function () {
        //        var list = $("#SELFRAME");
        //        var item = "<option value=" + $('#FRAME').val() + " >" + $('#FRAME :selected').text() + "</option>";
        //        list.append(item);
        //    });
        //$("form").submit(function (e) {
        //$("#SELOS option").attr("selected", "selected");
        //$("#SELFRAME option").attr("selected", "selected");
        //        $("#OperatingSystems option").attr("selected", "selected");
        //    });
        //});
    </script>
}
