@model nmct.ssa.labo.webshop.ViewModels.DetailsDeviceVM

@{
    ViewBag.Title = "Details";
}


<h1>Details</h1>
<div class="span4">
    <div class="card">
        <h2 class="card-heading simple">@Html.DisplayFor(modelItem => Model.Device.Name)</h2>
        <div class="card-body">
            <img src="https://shopweb.blob.core.windows.net/images/@Model.Device.Image" alt="image" />
            <p><b>Model:</b> @Html.DisplayFor(modelItem => Model.Device.Name)</p>
            <p><b>RentPrice:</b> @Html.DisplayFor(modelItem => Model.Device.RentPrice)</p>
            <p><b>Stock:</b> @Html.DisplayFor(modelItem => Model.Device.Stock)</p>
            <p>@Html.ActionLink("Upload Image", "Upload", new { id = Model.Device.Id })</p>
            @using (Html.BeginForm("AddToBasket", "Basket", FormMethod.Post))
            {
                <div>
                    <p>Aantal te huren:</p>
                   @Html.TextBoxFor(modelItem => Model.Amount)
                   @Html.Hidden("DeviceId", Model.Device.Id)
                </div>
                <input type="submit" value="Add to Basket" />
            }
        </div>
    </div>
    @Html.ActionLink("Back To List", "Index")
</div>
