@model IEnumerable<nmct.ssa.labo.webshop.models.Device>

@{
    ViewBag.Title = "Index";
}

<h3>Catalog</h3>
<label>From Visual Studio Azure !!!</label>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>*@


<h1>Catalog</h1>
<div class="row-fluid">
    @foreach (var item in Model)
    {
        <div class="span4">
            <div class="card">
                <h2 class="card-heading simple">@Html.DisplayFor(modelItem => item.Name)</h2>
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.Id })</p>
                </div>
            </div>
        </div>
    }
</div>